.main {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%); }

p {
  text-align: center;
  margin: 0 auto;
  color: #222222;
  letter-spacing: 10px; }
