
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Dosis|Roboto:100');


.main{
	height: 100vh;
	width: 100vw;
	display: table;
	background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

p {
	text-align: center;
	margin: 0 auto;
	color: #222222;
	letter-spacing:10px;

}

h1{
	text-align: center;
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle; 
	color: #292929;
	letter-spacing: 5px;
	size: 32vh;
	font-weight: light;
	font-family: 'Roboto', sans-serif;
}