@import url('https://fonts.googleapis.com/css?family=Dosis|Lato:300,400|Roboto:100,300');
$base-bgc: #fcfcfc;
$line: #ff0000;
$base-font: #1c1c1c;

//main
#particles-js{
	z-index: -1;
	width: 100%;
	box-sizing: border-box;
	height: 29em;
	background-color: #0C0C0C;
}

header {
	width: 100%;
	position: fixed;
	background-color: #ff0000;
}

.mainImage {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 30em;
}

// about
.about {
	margin: 0 8% 0;
}
#ghoastsp {
	position: fixed;
	width: 10%;
	z-index: 1;
	bottom: 50px;
	right:50px;
}
.profile{
	display: block;
	font-family: 'Roboto', sans-serif;
	width: 70%;
	margin: 0 auto;
}

.iconbox {
	float: left;
	display: inline-block;
}

.odaImage{
	width: 8em;
	height: 8em;
	margin-right: 4em;
}

.profilebox {
	clear:both;
	display: inline;	
	vertical-align: middle;
}
.pfImage {
	height: 250px;
}

.odakyoka {
	display: inline-block;
	letter-spacing: 0.1em;
	font-size: 1.6em;
	font-weight: bold;
	line-height: 0;
	color: $base-font;
}

.subcp {
		width: 100%;
		display: block;
		letter-spacing: 0.1em;
		font-size: 1.5em;
		font-weight: regular;
		line-height: 0;
		color:$base-font;
	}

.soIcons {
	display: inline-block;
	margin: 0 5% 0;
	text-align: center;
}
.soIcon {
	margin: 0 6px 0;
}

.soI {
	height: 18px;
}


.profileText {	
	font-size: 0.9em;
	line-height: 1.7em;
	margin: 0;
}

a {
    color: $base-font;
    font-weight: 100;
    &:hover {
    	color: #292929;
    }
    &:visited {
      color: #4c4c4c;
    }
}

// I think "design"

.believe {
	position: relative;
}

.believebox {
	height: 500px;
	width: 500px;
	margin: 0 auto;
	padding: 10%;
	background-image: url('../../images/circleB.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


.playful {
	padding-top: 15%;
}

.circleB {
	margin: 0 auto;
}

.believeDesign {
	margin: 0 auto 10%;
	text-align: center;
	line-height: 2em;
}

// Products

.productBox {
	clear:both;
	text-align: center;
	padding-top: 25px;
}
.productImages {
	margin: 1%;
	display: inline-block;
	width: 350px;
}

.pfImage img:hover {
	opacity:0.4;
}

.boxShadowFlow {
	box-shadow: 0 0 10px #8c8c8c;
}

.productText {
	text-align: left;
	padding-top: 10px;

	.subcp {
	letter-spacing: 0.1em;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 0;
	color:$base-font;
	}

}
.light {
	display: inline-block;
	padding: 2%	2% 0; 
	font-weight: 100;
	font-size: 1.4em;
	letter-spacing: 1.2px;
}
.subp {
	display: inline;
	margin: 0;
	font-size: 1.2em;
	font-weight: regular;
	color: #999999;
}

.prop {
	margin: 0;
	padding: 0 5px 30px;
	font-size: 0.9em;
}

.tantou {
	display: block;
	padding-top: 5px;
	font-size: 1em;
	color: #888888;
}

// footer
footer{
	position: relative;
	padding-top: 2em;
	text-align: center;
	clear: both;
}

.footerText{
	position: absolute;
	color: #fff;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	bottom: 3px;
	text-align: center;
	width: 100%;
}

// スマホビュー
@media (max-width: 800px) {
	#particles-js{
	z-index: -1;
	box-sizing: border-box;
	height: 10em;
	background-color: #0C0C0C;
	}

	#ghoastsp {
		position:fixed;
    bottom: 30px;
    cursor:pointer;
    width: 20%;
    right: 20px;
    z-index: 1;
	}

	.Logo {
		padding: 3%;
    width: 100%;
	}

	.mainImage {
		height: 11em;
	}

	.heading {
		font-size: 1.6em;
	}

	.profilebox {
		margin: 0 auto;
	}

	.odakyoka {
		width: 100%;
		margin-bottom: 10%;
		text-align: center;
	}

	.subcp {
		width: 100%;
		margin-bottom: 20px;
		display: inline-block;
		letter-spacing: 0.1em;
		font-size: 1.4em;
		font-weight: bold;
		line-height: 0;
		color:$base-font;
	}

	.iconbox {
		width: 100%;
		text-align: center;
	}
	.odaImage {
		margin: 20% auto 10%;
		text-align: center;
	}

	.soIcons {
		display: block;
	}

	.profileText {
		margin: 10% auto;
		font-size: 0.8em;
	}

	.pfImage {
		height: 100%;
	}

	.believeDesign {
		position: relative;
		width: 100%;
		margin: 10% auto;
		text-align: center;
		font-size: 0.8em;
	}
	section {
		padding: 0;
	}
	.believebox {
		position: relative;
		padding: 0;
		text-align: center;
		line-height: 2em;
		width: 100%;
		overflow: hidden;
		background-image: none;
	}

	.productImages {
		margin: 2% 1% 5%;
		width: 100%;
	}
}


@media (min-width:1200px) and (max-width:1400px) {
	.ghoast {
		position: absolute;
		width: 250px;
		margin:17% 0;
		left: 13%;
	}

	#ghoastsp {
		display: none;
	}

	.about {
	}
}
@media (max-width: 1199px) {
	.ghoast {
		display: none;
	}
}

@media (min-width: 1401px) {
	.ghoast {
		display: none;
	}
}
